﻿@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
<link rel="stylesheet" href="~/assets/css/pages/page_404_error.css">

    }





<div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="@Url.Content("~/mobile/Index")">
            <img src="@Url.Content("~/assets/img/logo.jpg")" alt="Logo">
        </a>
        <!-- End Logo -->
        <!-- Topbar -->
        <div class="topbar">
            <ul class="loginbar pull-right">
                <li class="hoverSelector">
                    <i class="fa fa-globe"></i>
                    <a>Languages</a>
                    <ul class="languages hoverSelectorBlock">
                        <li class="active">
                            <a href="#">English <i class="fa fa-check"></i></a>
                        </li>
                        <li><a href="#">Spanish</a></li>
                        <li><a href="#">Russian</a></li>
                        <li><a href="#">German</a></li>
                    </ul>
                </li>
                <li class="topbar-devider"></li>
                <li><a href="page_faq.html">Help</a></li>
                <li class="topbar-devider"></li>
                <li><a href="@Url.Content("~/Admin/home")">Login</a></li>
            </ul>
        </div>
        <!-- End Topbar -->
        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- Home -->
                <li class="dropdown active">
                    <a href="@Url.Content("~/mobile/Index") " class=" dropdown-toggle">
                        Home
                    </a>

                </li>
                <!-- End Home -->
                <!-- Portfolio -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Catagories
                    </a>
                    <ul class="dropdown-menu">





                        <li><a href="@Url.Content("~/mobile/mobiles")">Mobiles</a></li>


                    </ul>
                </li>
                <!-- End Portfolio -->
                <!-- Features -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Compnies
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="@Url.Content("~/mobile/company/3")">Apple</a>
                            <a href="@Url.Content("~/mobile/company/2")">Samsung</a>
                            <a href="@Url.Content("~/mobile/company/1")">HTC</a>
                            <a href="@Url.Content("~/mobile/company/4")">Sony Xperia</a>
                            <a href="@Url.Content("~/mobile/company/8")">Motorolla</a>
                            <a href="@Url.Content("~/mobile/company/5")">Microsoft</a>
                            <a href="@Url.Content("~/mobile/company/6")">Lenovo</a>
                            <a href="@Url.Content("~/mobile/company/7")">Micromax</a>

                        </li>


                    </ul>
                </li>
                <!-- End Features -->





                <li>
                    <a href="#about-us" class="dropdown-toggle">
                        About US
                    </a>
                </li>

                <!-- Search Block -->
                <li>
                    <i class="search fa fa-search search-btn"></i>
                    <div class="search-open">
                        <div class="input-group animated fadeInDown">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn-u" type="button">Go</button>
                            </span>
                        </div>
                    </div>
                </li>
                <!-- End Search Block -->
            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">404 Error</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Content("~/mobile/Index")">Home</a></li>
            <li><a href="@Url.Content("~/mobile/Index")">Search</a></li>
            <li class="active">404 Error</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <!--Error Block-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v1">
                <span class="error-v1-title">404</span>
                <span>That’s an error!</span>
                <p>The requested URL was not found on this server. That’s all we know.</p>
                <a class="btn-u btn-bordered" href="@Url.Content("~/mobile/Index")">Back Home</a>
            </div>
        </div>
    </div>
    <!--End Error Block-->
</div>
<!--=== End Content Part ===-->