﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{

    <link rel="stylesheet" href="@Url.Content("~/assets/css/pages/page_search.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/revolution-slider/rs-plugin/css/settings.css")" type="text/css" media="screen">



    <script src="@Url.Content("~/assets/autoc/jquery.easy-autocomplete.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/assets/autoc/easy-autocomplete.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/autoc/easy-autocomplete.themes.min.css")">
    <style>
        .easy-autocomplete-container {
            z-index: 99999;
            margin-top: 45px;
            //padding-top:200px;
        }
    </style>


}

<div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="@Url.Content("~/mobile/Index")">
            <img src="@Url.Content("~/assets/img/logo.jpg")" alt="Logo">
        </a>
        <!-- End Logo -->
        <!-- Topbar -->
        <div class="topbar">
            <ul class="loginbar pull-right">
                <li class="hoverSelector">
                    <i class="fa fa-globe"></i>
                    <a>Languages</a>
                    <ul class="languages hoverSelectorBlock">
                        <li class="active">
                            <a href="#">English <i class="fa fa-check"></i></a>
                        </li>
                        <li><a href="#">Spanish</a></li>
                        <li><a href="#">Russian</a></li>
                        <li><a href="#">German</a></li>
                    </ul>
                </li>
                <li class="topbar-devider"></li>
                <li><a href="page_faq.html">Help</a></li>
                <li class="topbar-devider"></li>
                <li><a href="@Url.Content("~/Admin/home")">Login</a></li>
            </ul>
        </div>
        <!-- End Topbar -->
        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- Home -->
                <li class="dropdown active">
                    <a href="@Url.Content("~/mobile/Index") " class=" dropdown-toggle">
                        Home
                    </a>

                </li>
                <!-- End Home -->
                <!-- Portfolio -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Catagories
                    </a>
                    <ul class="dropdown-menu">





                        <li><a href="@Url.Content("~/mobile/mobiles")">Mobiles</a></li>


                    </ul>
                </li>
                <!-- End Portfolio -->
                <!-- Features -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Compnies
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="@Url.Content("~/mobile/company/3")">Apple</a>
                            <a href="@Url.Content("~/mobile/company/2")">Samsung</a>
                            <a href="@Url.Content("~/mobile/company/1")">HTC</a>
                            <a href="@Url.Content("~/mobile/company/4")">Sony Xperia</a>
                            <a href="@Url.Content("~/mobile/company/8")">Motorolla</a>
                            <a href="@Url.Content("~/mobile/company/5")">Microsoft</a>
                            <a href="@Url.Content("~/mobile/company/6")">Lenovo</a>
                            <a href="@Url.Content("~/mobile/company/7")">Micromax</a>

                        </li>


                    </ul>
                </li>
                <!-- End Features -->





                <li>
                    <a href="#about-us" class="dropdown-toggle">
                        About US
                    </a>
                </li>

                <!-- Search Block -->
                <li>
                    <i class="search fa fa-search search-btn"></i>
                    <div class="search-open">
                        <div class="input-group animated fadeInDown">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn-u" type="button">Go</button>
                            </span>
                        </div>
                    </div>
                </li>
                <!-- End Search Block -->
            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->

<form action="@Url.Content("~/mobile/search")" method="get">

    <div class="search-block parallaxBg" style="margin-bottom:10px;">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <h1>Discover <span class="color-green">Things</span> Here</h1>

                <div class="input-group">
                    <input type="text" id="basics" name="abc" class="form-control" placeholder="Search Here ...">
                    <span class="input-group-btn">
                        <button class="btn-u btn-u-lg" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div><!--/container-->
</form>








<script>
    var options = {
        data: ["Samsung Galaxy J5 2016", "Samsung Galaxy S7 edge 32 GB", "Samsung Galaxy J3 8 GB", "Samsung Galaxy S6 Edge 32 Gb", "Samsung Galaxy A9", "Samsung Galaxy J7 2016", "Samsung Galaxy J5", "Samsung Galaxy Note 3", "Samsung Galaxy J7", "Samsung Galaxy J2", "Samsung Galaxy Note 4", "Samsung Galaxy S6 32 GB", "Samsung Galaxy On7", "Samsung Galaxy On5", "Samsung Galaxy S4", "Samsung Galaxy E7", "Samsung Galaxy Grand Prime 4G", "Samsung Galaxy Note 2", "Samsung Galaxy Note 5 32 GB", "Samsung Galaxy A5", "Apple iPhone 6s 16 GB", "Apple iPhone 6s Plus 16 GB", "Apple iPhone 5s 16GB", "Apple iPhone SE 16 GB", "Apple iPhone 6 Plus 16 GB", "Apple iPhone 6 16 GB", "Apple iPhone 5 16GB", "Apple iPhone 5s 32GB", "Apple iPhone 5s 64GB", "Apple iPhone 4S", "Apple iPhone 5c 16GB", "Apple iPhone 4", "Apple iPhone 3gs", "Apple iPhone 5c 8 GB", "Apple iPhone 6s 64 GB", "Apple iPhone 5 32GB", "Apple iPhone 6 64 GB", "Apple iPhone 5 64GB", "Apple iPhone 6s Plus 128 GB", "Apple iPhone 6s Plus 64 GB", "HTC One M8", "Htc One M7", "HTC Desire 820", "HTC Desire 626", "HTC Desire 816", "HTC Desire 620G Dual SIM", "HTC Desire 820G plus Dual SIM", "HTC Desire 820s", "HTC Desire 510", "HTC One E9 plus Dual SIM", "HTC One M9 Plus", "HTC Desire 8", "HTC Desire 526G Plus 16 GB", "HTC Desire 826 Dual SIM", "HTC Desire 826", "HTC Desire VC", "HTC Desire 728 Dual SIM", "HTC Desire 816G", "HTC One", "HTC One E9 plus", "Sony Xperia Z Ultra", "Sony Xperia C4 Dual", "Sony Xperia C5 Ultra Dual", "Sony Xperia M4 Aqua Dual", "Sony Xperia Z3 plus Dual", "Sony Xperia Z1", "Sony Xperia M", "Sony Xperia C5 Ultra", "Sony Xperia Z2", "Sony Xperia Z5 Premium Dual", "Sony Xperia Z3 Dual", "Sony Xperia M5 Dual", "Sony Xperia T2 Ultra dual", "Sony Xperia E", "Sony Xperia Z3 plus", "Sony Xperia Z", "Sony Xperia Z3", "Sony Xperia E4 Dual", "Sony Xperia M2 dual", "Sony Xperia C3 Dual", "Moto X Force 32 GB", "Moto X Style 16 GB", "Moto X Play 16 GB", "Moto G Turbo Edition", "Moto X Play 32 GB", "Moto G 3rd Gen 16 GB", "Moto E Gen 2", "Moto X Gen 2 16 GB", "Moto G 16 GB", "Moto X 16 GB", "Moto G 8 GB", "Moto E", "Motorola Quartz Ex122", "Motorola DROID Turbo", "Moto X Style 32 GB", "Moto X 32 GB", "Moto X Force 64 GB", "Moto X Gen 2 32 GB", "Motorola Razr Maxx", "Motorola  Defy", "Microsoft Lumia 540 Dual SIM", "Microsoft Lumia 535 Dual SIM", "Microsoft Lumia 640 XL LTE", "Microsoft Lumia 550", "Microsoft Lumia 640 Dual SIM", "Microsoft Lumia 435", "Microsoft Lumia 950 XL Dual SIM", "Microsoft Lumia 640", "Microsoft Lumia 650 Dual SIM", "Microsoft Lumia 640 XL Dual SIM", "Microsoft Lumia 435 Dual SIM", "Microsoft Lumia 535", "Microsoft Lumia 640 XL", "Microsoft Lumia 650", "Microsoft Lumia 950 XL", "Microsoft Lumia 640 XL LTE Dual SIM", "Microsoft Lumia 430 Dual SIM", "Microsoft Lumia 532", "Microsoft Lumia 950 Dual SIM", "Microsoft Lumia 950", "Lenovo ZUK Z1", "Moto G4 Plus 16 GB", "Lenovo Vibe K4 note", "Lenovo Vibe K5 Plus", "Moto G4 16 GB", "Lenovo K3 Note", "Lenovo A6000 Plus", "Lenovo A7000 Plus", "Lenovo Vibe P1m", "Lenovo Vibe P1", "Lenovo A6000", "Lenovo Vibe X3", "Lenovo Phab Plus", "Lenovo A7000", "Lenovo A7000 Turbo", "Lenovo A1000", "Lenovo A2010", "Lenovo Vibe Shot", "Lenovo A269i", "Lenovo K3 Note Music"],
        list: {
            maxNumberOfElements: 10,
            match: {
                enabled: true
            }
        },
        requestDelay: 700
    };

    $("#basics").easyAutocomplete(options);



</script>
<!--=== End Search Block ===-->
<!--=== Slider ===-->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
                <!-- MAIN IMAGE -->
                <img src="@Url.Content("~/assets/img/sliders/a.jpg")" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div class="tp-caption revolution-ch1 sft start"
                     data-x="center"
                     data-hoffset="0"
                     data-y="100"
                     data-speed="1500"
                     data-start="500"
                     data-easing="Back.easeInOut"
                     data-endeasing="Power1.easeIn"
                     data-endspeed="300">
                    Introducing Comparing Prices
                </div>

                <!-- LAYER -->
                <div class="tp-caption revolution-ch2 sft"
                     data-x="center"
                     data-hoffset="0"
                     data-y="190"
                     data-speed="1400"
                     data-start="2000"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 6">
                    We are creatively allow aur users to compare prices of differet products <br /> it saves time.
                </div>

                <!-- LAYER -->
                <div class="tp-caption sft"
                     data-x="center"
                     data-hoffset="0"
                     data-y="310"
                     data-speed="1600"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 6">
                    <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
                    <a href="#" class="btn-u">Our Work</a>
                </div>
            </li>
            <!-- END SLIDE -->
            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                <!-- MAIN IMAGE -->
                <img src="@Url.Content("~/assets/img/sliders/b.jpg")" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div class="tp-caption revolution-ch1 sft start"
                     data-x="center"
                     data-hoffset="0"
                     data-y="100"
                     data-speed="1500"
                     data-start="500"
                     data-easing="Back.easeInOut"
                     data-endeasing="Power1.easeIn"
                     data-endspeed="300">
                    Includes more than 5 different mobile brands
                </div>

                <!-- LAYER -->
                <div class="tp-caption revolution-ch2 sft"
                     data-x="center"
                     data-hoffset="0"
                     data-y="190"
                     data-speed="1400"
                     data-start="2000"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 6">
                    We are creatively allow aur users to compare prices of differet products <br> it saves time.
                </div>

                <!-- LAYER -->
                <div class="tp-caption sft"
                     data-x="center"
                     data-hoffset="0"
                     data-y="310"
                     data-speed="1600"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 6">
                    <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
                    <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a>
                </div>
            </li>
            <!-- END SLIDE -->
            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 3">
                <!-- MAIN IMAGE -->
                <img src="@Url.Content("~/assets/img/sliders/c.jpg")" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div class="tp-caption revolution-ch1 sft start"
                     data-x="center"
                     data-hoffset="0"
                     data-y="100"
                     data-speed="1500"
                     data-start="500"
                     data-easing="Back.easeInOut"
                     data-endeasing="Power1.easeIn"
                     data-endspeed="300">
                    Over 12000+ Satisfied Users
                </div>

                <!-- LAYER -->
                <div class="tp-caption revolution-ch2 sft"
                     data-x="center"
                     data-hoffset="0"
                     data-y="190"
                     data-speed="1400"
                     data-start="2000"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 6">
                    We are creatively allow aur users to compare prices of differet products <br /> it saves time.
                </div>

                <!-- LAYER -->
                <div class="tp-caption sft"
                     data-x="center"
                     data-hoffset="0"
                     data-y="310"
                     data-speed="1600"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 6">
                    <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
                    <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a>
                </div>
            </li>
            <!-- END SLIDE -->
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>
<!--=== End Slider ===-->
<!-- Easy Blocks v1 -->
<!-- Easy Blocks v1 -->
<div class="headline margin-bottom-35" style="padding-left:60px;"><h2>Best Selling <span class="color-green">PRODUCTS</span></h2></div>
<div class="col-md-offset-2">
    <!-- Easy Blocks v1 -->
    <div class="row high-rated margin-bottom-20" style="padding-left:60px;">
        <!-- Easy Block -->
        <div class="col-md-3 col-sm-6 md-margin-bottom-40">
            <div class="easy-block-v1">

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li class="rounded-x active" data-target="#carousel-example-generic" data-slide-to="0"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="@Url.Content("~/assets/img/main/iphone5S1.jpg")" width="120" height="250">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/iphone5S2.jpeg")" width="120" height="250">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/iphone5S3.JPG")" width="120" height="250">
                        </div>
                    </div>
                </div>
                <div class="overflow-h" style="padding-left:60px;">
                    <h3>IPhone 5S</h3>
                </div>
                <ul class="list-unstyled" style="padding-left:60px;">
                    <li><span class="color-green">Storage:</span> 16 GB</li>
                    <li><span class="color-green">Screen Size:</span> 4 inch</li>
                    <li><span class="color-green">OS Version:</span> IOS 7</li>
                </ul>
                <div style="padding-left:60px;">
                    <a class="btn-u btn-u-sm " href="~/mobile/search?abc=Apple+iPhone+5s+16GB">View More</a>
                </div>
            </div>
        </div>
        <!-- End Easy Block -->
        <!-- Easy Block -->
        <div class="col-md-3 col-sm-6 md-margin-bottom-40">
            <div class="easy-block-v1">
                <div id="carousel-example-generic-2" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li class="rounded-x active" data-target="#carousel-example-generic-2" data-slide-to="0"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic-2" data-slide-to="1"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic-2" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="@Url.Content("~/assets/img/main/iP6M.jpg")">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/iP6S.jpg")">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/iP6B.jpg")">
                        </div>
                    </div>
                </div>
                <div style="padding-left:60px;" class="overflow-h">
                    <h3>IPhone 6</h3>

                </div>
                <ul style="padding-left:60px;" class="list-unstyled">
                    <li><span class="color-green">Storage:</span> 16 GB</li>
                    <li><span class="color-green">Screen Size:</span> 4.7 inch</li>
                    <li><span class="color-green">OS Version:</span> IOS 8</li>
                </ul>
                <div style="padding-left:60px;">
                    <a class="btn-u btn-u-sm " href="~/mobile/search?abc=Apple+iPhone+6+16+GB">View More</a>
                </div>
            </div>
        </div>
        <!-- End Easy Block -->
        <!-- Easy Block -->
        <div class="col-md-3 col-sm-6 md-margin-bottom-40">
            <div class="easy-block-v1">
                <div id="carousel-example-generic-2" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li class="rounded-x active" data-target="#carousel-example-generic-2" data-slide-to="0"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic-2" data-slide-to="1"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic-2" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="@Url.Content("~/assets/img/main/file%20(2).jpeg")">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/file.jpeg")">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/file%20(1).jpeg")">
                        </div>
                    </div>
                </div>
                <div style="padding-left:60px;" class="overflow-h">
                    <h3>IPhone 6S</h3>

                </div>
                <ul style="padding-left:60px;" class="list-unstyled">
                    <li><span class="color-green">Storage:</span> 16 GB</li>
                    <li><span class="color-green">Screen Size:</span> 4.7 inch</li>
                    <li><span class="color-green">OS Version:</span> IOS 9</li>
                </ul>
                <div style="padding-left:60px;">
                    <a class="btn-u btn-u-sm " href="~/mobile/search?abc=Apple+iPhone+6S+16+GB">View More</a>
                </div>
            </div>
        </div>
        <!-- End Easy Block -->

    </div>
    <!-- End Easy Blocks v1 -->
    <!-- DONE -->

    <div class="row high-rated margin-bottom-20" style="padding-left:60px;">
        <!-- Easy Block -->
        <div class="col-md-3 col-sm-6 md-margin-bottom-40">
            <div class="easy-block-v1">

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li class="rounded-x active" data-target="#carousel-example-generic" data-slide-to="0"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="@Url.Content("~/assets/img/main/samsung-galaxy-s7-edge-M.jpeg")" width="120" height="250">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/samsung-galaxy-s7-edge-ST.jpeg")" width="120" height="250">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/samsung-galaxy-s7-edge-B.jpeg")" width="120" height="250">
                        </div>
                    </div>
                </div>
                <div style="padding-left:60px;" class="overflow-h">
                    <h3>Samsung Galaxy S7 Edge</h3>
                </div>
                <ul style="padding-left:60px;" class="list-unstyled">
                    <li><span class="color-green">Storage:</span> 32 GB</li>
                    <li><span class="color-green">Screen Size:</span> 5.5 inch</li>
                    <li><span class="color-green">OS Version:</span> Android 6.0 (M)</li>
                </ul>
                <div style="padding-left:60px;">
                    <a class="btn-u btn-u-sm " href="~/mobile/search?abc=Samsung+Galaxy+S7+Edge+32+GB">View More</a>
                </div>
            </div>
        </div>
        <!-- End Easy Block -->
        <!-- Easy Block -->
        <div class="col-md-3 col-sm-6 md-margin-bottom-40">
            <div class="easy-block-v1">
                <div id="carousel-example-generic-2" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li class="rounded-x active" data-target="#carousel-example-generic-2" data-slide-to="0"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic-2" data-slide-to="1"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic-2" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="@Url.Content("~/assets/img/main/S6EdgeM.jpg")">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/S6EdgeS.jpg")">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/S6EdgeB.jpg")">
                        </div>
                    </div>
                </div>
                <div style="padding-left:60px;" class="overflow-h">
                    <h3>Samsung Galaxy S6 Edge</h3>

                </div>
                <ul style="padding-left:60px;" class="list-unstyled">
                    <li><span class="color-green">Storage:</span> 32 GB</li>
                    <li><span class="color-green">Screen Size:</span> 5.1 inch</li>
                    <li><span class="color-green">OS Version:</span> Android 5.0(L)</li>
                </ul>
                <div style="padding-left:60px;">
                    <a class="btn-u btn-u-sm " href="~/mobile/search?abc=Samsung+Galaxy+S6+Edge+32+Gb">View More</a>
                </div>
            </div>
        </div>
        <!-- End Easy Block -->
        <!-- Easy Block -->
        <div class="col-md-3 col-sm-6 md-margin-bottom-40">
            <div class="easy-block-v1">
                <div id="carousel-example-generic-2" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li class="rounded-x active" data-target="#carousel-example-generic-2" data-slide-to="0"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic-2" data-slide-to="1"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic-2" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="@Url.Content("~/assets/img/main/Samsung-Galaxy-A9Front.JPG")">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/Samsung-Galaxy-A9Side.JPG")">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/Samsung-Galaxy-A9Back.JPG")">
                        </div>
                    </div>
                </div>
                <div style="padding-left:60px;" class="overflow-h">
                    <h3>Samsung Galaxy A9</h3>

                </div>
                <ul style="padding-left:60px;" class="list-unstyled">
                    <li><span class="color-green">Storage:</span> 32 GB</li>
                    <li><span class="color-green">Screen Size:</span> 5.5 inch</li>
                    <li><span class="color-green">OS Version:</span> Android 5.1.1</li>
                </ul>
                <div style="padding-left:60px;">
                    <a class="btn-u btn-u-sm " href="~/mobile/search?abc=Samsung+Galaxy+A9">View More</a>
                </div>
            </div>
        </div>
        <!-- End Easy Block -->

    </div>

    <div class="clearfix margin-bottom-20"><hr></div>
    <!--DONE-->
    <div class="row high-rated margin-bottom-20" style="padding-left:60px;">
        <!-- Easy Block -->
        <div class="col-md-3 col-sm-6 md-margin-bottom-40">
            <div class="easy-block-v1">

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li class="rounded-x active" data-target="#carousel-example-generic" data-slide-to="0"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="@Url.Content("~/assets/img/main/SXZ51.jpeg")" width="120" height="250">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/SXZ52.jpeg")" width="120" height="250">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/SXZ53.jpeg")" width="120" height="250">
                        </div>
                    </div>
                </div>
                <div style="padding-left:60px;" class="overflow-h">
                    <h3>Sony Xperia Z5 Premium Dual</h3>
                </div>
                <ul style="padding-left:60px;" class="list-unstyled">
                    <li><span class="color-green">Storage:</span> 32 GB</li>
                    <li><span class="color-green">Screen Size:</span> 5.5 inch</li>
                    <li><span class="color-green">OS Version:</span> 5.1.1 </li>
                </ul>
                <div style="padding-left:60px;">
                    <a class="btn-u btn-u-sm " href="~/mobile/search?abc=Sony+Xperia+Z5+Premium+Dual">View More</a>
                </div>
            </div>
        </div>
        <!-- End Easy Block -->
        <!-- Easy Block -->
        <div class="col-md-3 col-sm-6 md-margin-bottom-40">
            <div class="easy-block-v1">
                <div id="carousel-example-generic-2" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li class="rounded-x active" data-target="#carousel-example-generic-2" data-slide-to="0"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic-2" data-slide-to="1"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic-2" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="@Url.Content("~/assets/img/main/SXZLM.jpg")">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/SXZLM2.jpeg")">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/SXZLM3.jpeg")">
                        </div>
                    </div>
                </div>
                <div style="padding-left:60px;" class="overflow-h">
                    <h3>Sony Xperia ZL</h3>

                </div>
                <ul style="padding-left:60px;" class="list-unstyled">
                    <li><span class="color-green">Storage:</span> 16</li>
                    <li><span class="color-green">Screen Size:</span> 5 inch</li>
                    <li><span class="color-green">OS Version:</span> Android 5.0(L)</li>
                </ul>
                <div style="padding-left:60px;">
                    <a class="btn-u btn-u-sm " href="~/mobile/search?abc=Sony+Xperia+ZL">View More</a>
                </div>
            </div>
        </div>
        <!-- End Easy Block -->
        <!-- Easy Block -->
        <div class="col-md-3 col-sm-6 md-margin-bottom-40">
            <div class="easy-block-v1">
                <div id="carousel-example-generic-2" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li class="rounded-x active" data-target="#carousel-example-generic-2" data-slide-to="0"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic-2" data-slide-to="1"></li>
                        <li class="rounded-x" data-target="#carousel-example-generic-2" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="@Url.Content("~/assets/img/main/sxc51.jpeg")">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/sxc52.jpg")">
                        </div>
                        <div class="item">
                            <img alt="" src="@Url.Content("~/assets/img/main/sxc53.jpeg")">
                        </div>
                    </div>
                </div>
                <div style="padding-left:60px;" class="overflow-h">
                    <h3>Sony Xperia C5 Ultra Dual</h3>

                </div>
                <ul style="padding-left:60px;" class="list-unstyled">
                    <li><span class="color-green">Storage:</span> 16 GB</li>
                    <li><span class="color-green">Screen Size:</span> 6 inch</li>
                    <li><span class="color-green">OS Version:</span> Android 5.0(L)</li>
                </ul>
                <div style="padding-left:60px;">
                    <a class="btn-u btn-u-sm " href="~/mobile/search?abc=Sony+Xperia+C5+Ultra+Dual">View More</a>
                </div>
            </div>
        </div>
        <!-- Easy Block -->
      
        <!-- End Easy Block -->

    </div>
</div>

<div class="clearfix margin-bottom-20"><hr></div>
<!--Done-->
<div class="testimonials-section4 text-center content-md" id="testimonials">
    <div class="container">
        <div class="text-center margin-bottom-50">
            <h2 id="about-us" class="title-v2 title-center">About US</h2>
            <p class="space-lg-hor">We strives to provide high quality products and services to the asset finance and leasing industry. It guarantees to exceed the expectations of its customers with the help of its dedicated and forward thinking workforce.</p>
        </div>

        <div class="row">
            <!-- Testimonials Item BEGIN -->
            <div class="col-sm-4 testimonials-item">
                <blockquote>
                    <p>"Our commitment to quality is demonstrated by our successfully cleared ISO 9001, ISO 27001, and SEI CMMI Maturity Level 5 (V1.2) assessments; a distinction shared by fewer than 150 companies worldwide. These certifications are a testament of our diligence and work-ethics."</p>
                </blockquote>
                <div class="testimonials-info">
                    <img src="@Url.Content("~/assets/img//testimonials/file%20(4).jpeg")" alt="Nick Adams">
                    <strong>Nadeem Azhar</strong>
                    <em>Team Member</em>
                </div>
            </div>
            <!-- Testimonials Item END -->
            <!-- Testimonials Item BEGIN -->
            <div class="col-sm-4 testimonials-item">
                <blockquote>
                    <p>"Innovation has always been a primary focus in our company along with adherence to the highest quality assurance and control standards in software development. Driven by innovation we turn ideas into implementations which are suited to your operational needs."</p>
                </blockquote>
                <div class="testimonials-info">
                    <img src="@Url.Content("~/assets/img//testimonials/file%20(5).jpeg")" alt="Nick Adams">
                    <strong>Syed Yawar</strong>
                    <em>Team Member</em>
                </div>
            </div>
            <!-- Testimonials Item END -->
            <!-- Testimonials Item BEGIN -->
            <div class="col-sm-4 testimonials-item">
                <blockquote>
                    <p>"We drive success by providing the right solution to your business problems in the most efficient of ways. We rigorously follow our rules and processes which has earned us a strong position among our clients in Industrials and Fortune manufacturers."</p>
                </blockquote>
                <div class="testimonials-info">
                    <img src="@Url.Content("~/assets/img//testimonials/file%20(6).jpeg")" alt="Nick Adams">
                    <strong>Kamran Rizwan</strong>
                    <em>Team Member</em>
                </div>
            </div>
            <!-- Testimonials Item END -->
        </div>
    </div>
</div>
<script>
    var options = {
        url: "mobile/js",
        list: {
            maxNumberOfElements: 10,
            match: {
                enabled: true
            }
        },
        requestDelay: 700
    };

    $("#search1").easyAutocomplete(options);



</script>