﻿@{
    ViewBag.Title = "Catagories | Mobiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <link rel="stylesheet" href="@Url.Content("~/assets/css/pages/page_search.css")">
<link rel="stylesheet" href="@Url.Content("~/assets/plugins/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css")">

    <script src="@Url.Content("~/assets/autoc/jquery.easy-autocomplete.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/assets/autoc/easy-autocomplete.min.css")">

<style>
    .easy-autocomplete-container {
        z-index: 99999;
        margin-top: 45px;
        //padding-top:200px;
    }
</style>



}



    <div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="@Url.Content("~/mobile/Index")">
            <img src="@Url.Content("~/assets/img/logo.jpg")" alt="Logo">
        </a>
        <!-- End Logo -->
        <!-- Topbar -->
        <div class="topbar">
            <ul class="loginbar pull-right">
                <li class="hoverSelector">
                    <i class="fa fa-globe"></i>
                    <a>Languages</a>
                    <ul class="languages hoverSelectorBlock">
                        <li class="active">
                            <a href="#">English <i class="fa fa-check"></i></a>
                        </li>
                        <li><a href="#">Spanish</a></li>
                        <li><a href="#">Russian</a></li>
                        <li><a href="#">German</a></li>
                    </ul>
                </li>
                <li class="topbar-devider"></li>
                <li><a href="page_faq.html">Help</a></li>
                <li class="topbar-devider"></li>
                <li><a href="@Url.Content("~/Admin/home")">Login</a></li>
            </ul>
        </div>
        <!-- End Topbar -->
        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- Home -->
                <li class="dropdown">
                    <a href="@Url.Content("~/mobile/Index") " class=" dropdown-toggle">
                        Home
                    </a>

                </li>
                <!-- End Home -->
               
                <!-- Portfolio -->
                <li class="dropdown active">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Catagories
                    </a>
                    <ul class="dropdown-menu">
                       
                        
                       
                      
                        
                        <li class="active"><a href="@Url.Content("~/mobile/mobiles")">Mobiles</a></li>
                       
                       
                    </ul>
                </li>
                <!-- End Portfolio -->

                <!-- Features -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Compnies
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="@Url.Content("~/mobile/company/3")">Apple</a>
                            <a href="@Url.Content("~/mobile/company/2")">Samsung</a>
                            <a href="@Url.Content("~/mobile/company/1")">HTC</a>
                            <a href="@Url.Content("~/mobile/company/4")">Sony Xperia</a>
                            <a href="@Url.Content("~/mobile/company/8")">Motorolla</a>
                            <a href="@Url.Content("~/mobile/company/5")">Microsoft</a>
                            <a href="@Url.Content("~/mobile/company/6")">Lenovo</a>
                            <a href="@Url.Content("~/mobile/company/7")">Micromax</a>

                        </li>


                    </ul>
                </li>
                <!-- End Features -->

                <li>
                    <a href="#about-us" class="dropdown-toggle">
                        About US
                    </a>
                </li>

                <!-- Search Block -->
                <li>
                    <i class="search fa fa-search search-btn"></i>
                    <div class="search-open">
                        <div class="input-group animated fadeInDown">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn-u" type="button">Go</button>
                            </span>
                        </div>
                    </div>
                </li>
                <!-- End Search Block -->
            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->



<form action="@Url.Content("~/mobile/search")" method="get">

    <div class="search-block parallaxBg" >
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <h1>Discover <span class="color-green">Things</span> Here</h1>

                <div class="input-group">
                    <input type="text" id="basics" name="abc" class="form-control" placeholder="Search Here ...">
                    <span class="input-group-btn">
                        <button class="btn-u btn-u-lg" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div><!--/container-->
</form>


<script>
    var options = {
        data: ["Samsung Galaxy J5 2016", "Samsung Galaxy S7 edge 32 GB", "Samsung Galaxy J3 8 GB", "Samsung Galaxy S6 Edge 32 Gb", "Samsung Galaxy A9", "Samsung Galaxy J7 2016", "Samsung Galaxy J5", "Samsung Galaxy Note 3", "Samsung Galaxy J7", "Samsung Galaxy J2", "Samsung Galaxy Note 4", "Samsung Galaxy S6 32 GB", "Samsung Galaxy On7", "Samsung Galaxy On5", "Samsung Galaxy S4", "Samsung Galaxy E7", "Samsung Galaxy Grand Prime 4G", "Samsung Galaxy Note 2", "Samsung Galaxy Note 5 32 GB", "Samsung Galaxy A5", "Apple iPhone 6s 16 GB", "Apple iPhone 6s Plus 16 GB", "Apple iPhone 5s 16GB", "Apple iPhone SE 16 GB", "Apple iPhone 6 Plus 16 GB", "Apple iPhone 6 16 GB", "Apple iPhone 5 16GB", "Apple iPhone 5s 32GB", "Apple iPhone 5s 64GB", "Apple iPhone 4S", "Apple iPhone 5c 16GB", "Apple iPhone 4", "Apple iPhone 3gs", "Apple iPhone 5c 8 GB", "Apple iPhone 6s 64 GB", "Apple iPhone 5 32GB", "Apple iPhone 6 64 GB", "Apple iPhone 5 64GB", "Apple iPhone 6s Plus 128 GB", "Apple iPhone 6s Plus 64 GB", "HTC One M8", "Htc One M7", "HTC Desire 820", "HTC Desire 626", "HTC Desire 816", "HTC Desire 620G Dual SIM", "HTC Desire 820G plus Dual SIM", "HTC Desire 820s", "HTC Desire 510", "HTC One E9 plus Dual SIM", "HTC One M9 Plus", "HTC Desire 8", "HTC Desire 526G Plus 16 GB", "HTC Desire 826 Dual SIM", "HTC Desire 826", "HTC Desire VC", "HTC Desire 728 Dual SIM", "HTC Desire 816G", "HTC One", "HTC One E9 plus", "Sony Xperia Z Ultra", "Sony Xperia C4 Dual", "Sony Xperia C5 Ultra Dual", "Sony Xperia M4 Aqua Dual", "Sony Xperia Z3 plus Dual", "Sony Xperia Z1", "Sony Xperia M", "Sony Xperia C5 Ultra", "Sony Xperia Z2", "Sony Xperia Z5 Premium Dual", "Sony Xperia Z3 Dual", "Sony Xperia M5 Dual", "Sony Xperia T2 Ultra dual", "Sony Xperia E", "Sony Xperia Z3 plus", "Sony Xperia Z", "Sony Xperia Z3", "Sony Xperia E4 Dual", "Sony Xperia M2 dual", "Sony Xperia C3 Dual", "Moto X Force 32 GB", "Moto X Style 16 GB", "Moto X Play 16 GB", "Moto G Turbo Edition", "Moto X Play 32 GB", "Moto G 3rd Gen 16 GB", "Moto E Gen 2", "Moto X Gen 2 16 GB", "Moto G 16 GB", "Moto X 16 GB", "Moto G 8 GB", "Moto E", "Motorola Quartz Ex122", "Motorola DROID Turbo", "Moto X Style 32 GB", "Moto X 32 GB", "Moto X Force 64 GB", "Moto X Gen 2 32 GB", "Motorola Razr Maxx", "Motorola  Defy", "Microsoft Lumia 540 Dual SIM", "Microsoft Lumia 535 Dual SIM", "Microsoft Lumia 640 XL LTE", "Microsoft Lumia 550", "Microsoft Lumia 640 Dual SIM", "Microsoft Lumia 435", "Microsoft Lumia 950 XL Dual SIM", "Microsoft Lumia 640", "Microsoft Lumia 650 Dual SIM", "Microsoft Lumia 640 XL Dual SIM", "Microsoft Lumia 435 Dual SIM", "Microsoft Lumia 535", "Microsoft Lumia 640 XL", "Microsoft Lumia 650", "Microsoft Lumia 950 XL", "Microsoft Lumia 640 XL LTE Dual SIM", "Microsoft Lumia 430 Dual SIM", "Microsoft Lumia 532", "Microsoft Lumia 950 Dual SIM", "Microsoft Lumia 950", "Lenovo ZUK Z1", "Moto G4 Plus 16 GB", "Lenovo Vibe K4 note", "Lenovo Vibe K5 Plus", "Moto G4 16 GB", "Lenovo K3 Note", "Lenovo A6000 Plus", "Lenovo A7000 Plus", "Lenovo Vibe P1m", "Lenovo Vibe P1", "Lenovo A6000", "Lenovo Vibe X3", "Lenovo Phab Plus", "Lenovo A7000", "Lenovo A7000 Turbo", "Lenovo A1000", "Lenovo A2010", "Lenovo Vibe Shot", "Lenovo A269i", "Lenovo K3 Note Music"],
        list: {
            maxNumberOfElements: 10,
            match: {
                enabled: true
            }
        },
        requestDelay: 700
    };

    $("#basics").easyAutocomplete(options);



</script>


















    <div class="breadcrumbs-v3" style="background-color:darkseagreen; height:200px;" >
        <div class="container text-center">
            <p>Catagories</p>
            <h1>Popular Brands</h1>
        </div><!--/end container-->
    </div>

    <!--=== End Breadcrumbs v3 ===-->
    <!--=== Cube-Portfdlio ===-->

    <div class="cube-portfolio container margin-bottom-60">
        <div class="content-xs">
            <div id="filters-container" class="cbp-l-filters-text content-xs">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div>
            </div><!--/end Filters Container-->
        </div>

        <div id="grid-container" class="cbp-l-grid-agency">
            <div class="cbp-item graphic">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/catagories/4.png" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap dark-transparent-hover">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="@Url.Content("~/mobile/company/1")"><i class="rounded-x fa fa-link"></i></a></li>

                                </ul>
                                <div class="cbp-title-dark">
                                    <div class="cbp-l-grid-agency-title">HTC</div>
                                    <a href="@Url.Content("~/mobile/company/1")"> Explore </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-item identity logos">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/catagories/5.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap dark-transparent-hover">
                        <a href="#">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions">
                                        <li><a href="@Url.Content("~/mobile/company/2")"><i class="rounded-x fa fa-link"></i></a></li>

                                    </ul>
                                    <div class="cbp-l-grid-agency-title">Samsung</div>
                                    <a href="@Url.Content("~/mobile/company/2")"> Explore </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="cbp-item graphic logos">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/catagories/13.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap dark-transparent-hover">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="@Url.Content("~/mobile/company/3")"><i class="rounded-x fa fa-link"></i></a></li>

                                </ul>
                                <div class="cbp-l-grid-agency-title">Apple</div>
                                <a href="@Url.Content("~/mobile/company/3")"> Explore </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-item web-design graphic">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap dark-transparent-hover ">
                        <img src="~/assets/img/catagories/10.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="@Url.Content("~/mobile/company/4")"><i class="rounded-x fa fa-link"></i></a></li>

                                </ul>
                                <div class="cbp-l-grid-agency-title">Sony Xperia</div>
                                <a href="@Url.Content("~/mobile/company/4")"> Explore </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/end Grid Container-->
    </div>
    
    <!--=== End Cube-Portfdlio ===-->
    <!--Done-->
    <div class="testimonials-section4 text-center content-md" id="testimonials">
        <div class="container">
            <div class="text-center margin-bottom-50">
                <h2 id="about-us" class="title-v2 title-center">About US</h2>
                <p class="space-lg-hor">We strives to provide high quality products and services to the asset finance and leasing industry. It guarantees to exceed the expectations of its customers with the help of its dedicated and forward thinking workforce.</p>
            </div>

            <div class="row">
                <!-- Testimonials Item BEGIN -->
                <div class="col-sm-4 testimonials-item">
                    <blockquote>
                        <p>"Our commitment to quality is demonstrated by our successfully cleared ISO 9001, ISO 27001, and SEI CMMI Maturity Level 5 (V1.2) assessments; a distinction shared by fewer than 150 companies worldwide. These certifications are a testament of our diligence and work-ethics."</p>
                    </blockquote>
                    <div class="testimonials-info">
                        <img src="@Url.Content("~/assets/img//testimonials/file%20(4).jpeg")" alt="Nick Adams">
                        <strong>Nadeem Azhar</strong>
                        <em>Team Member</em>
                    </div>
                </div>
                <!-- Testimonials Item END -->
                <!-- Testimonials Item BEGIN -->
                <div class="col-sm-4 testimonials-item">
                    <blockquote>
                        <p>"Innovation has always been a primary focus in our company along with adherence to the highest quality assurance and control standards in software development. Driven by innovation we turn ideas into implementations which are suited to your operational needs."</p>
                    </blockquote>
                    <div class="testimonials-info">
                        <img src="@Url.Content("~/assets/img//testimonials/file%20(5).jpeg")" alt="Nick Adams">
                        <strong>Syed Yawar</strong>
                        <em>Team Member</em>
                    </div>
                </div>
                <!-- Testimonials Item END -->
                <!-- Testimonials Item BEGIN -->
                <div class="col-sm-4 testimonials-item">
                    <blockquote>
                        <p>"We drive success by providing the right solution to your business problems in the most efficient of ways. We rigorously follow our rules and processes which has earned us a strong position among our clients in Industrials and Fortune manufacturers."</p>
                    </blockquote>
                    <div class="testimonials-info">
                        <img src="@Url.Content("~/assets/img//testimonials/file%20(6).jpeg")" alt="Nick Adams">
                        <strong>Kamran Rizwan</strong>
                        <em>Team Member</em>
                    </div>
                </div>
                <!-- Testimonials Item END -->
            </div>
        </div>
    </div>
