﻿@{
    ViewBag.Title = "admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <link rel="stylesheet" href="@Url.Content("~/assets/css/pages/page_search.css")">


    <script src="@Url.Content("~/assets/autoc/jquery.easy-autocomplete.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/assets/autoc/easy-autocomplete.min.css")">



}

<div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="@Url.Content("~/mobile/Index")">
            <img src="@Url.Content("~/assets/img/logo.jpg")" alt="Logo">
        </a>
        <!-- End Logo -->
        <!-- Topbar -->
        <div class="topbar">
            <ul class="loginbar pull-right">
                <li class="hoverSelector">
                    <i class="fa fa-globe"></i>
                    <a>Languages</a>
                    <ul class="languages hoverSelectorBlock">
                        <li class="active">
                            <a href="#">English <i class="fa fa-check"></i></a>
                        </li>
                        <li><a href="#">Spanish</a></li>
                        <li><a href="#">Russian</a></li>
                        <li><a href="#">German</a></li>
                    </ul>
                </li>
                <li class="topbar-devider"></li>
                <li><a href="page_faq.html">Help</a></li>
                <li class="topbar-devider"></li>
                <li ><a href="@Url.Content("~/Admin/home")" class="active">Login</a></li>
            </ul>
        </div>
        <!-- End Topbar -->
        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- Home -->
                <li class="dropdown">
                    <a href="@Url.Content("~/mobile/Index") " class=" dropdown-toggle">
                        Home
                    </a>

                </li>
                <!-- End Home -->
                <!-- Portfolio -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Catagories
                    </a>
                    <ul class="dropdown-menu">





                        <li><a href="@Url.Content("~/mobile/mobiles")">Mobiles</a></li>


                    </ul>
                </li>
                <!-- End Portfolio -->
                <!-- Features -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Compnies
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="@Url.Content("~/mobile/company/3")">Apple</a>
                            <a href="@Url.Content("~/mobile/company/2")">Samsung</a>
                            <a href="@Url.Content("~/mobile/company/1")">HTC</a>
                            <a href="@Url.Content("~/mobile/company/4")">Sony Xperia</a>
                            <a href="@Url.Content("~/mobile/company/8")">Motorolla</a>
                            <a href="@Url.Content("~/mobile/company/5")">Microsoft</a>
                            <a href="@Url.Content("~/mobile/company/6")">Lenovo</a>
                            <a href="@Url.Content("~/mobile/company/7")">Micromax</a>

                        </li>


                    </ul>
                </li>
                <!-- End Features -->





                <li>
                    <a href="#about-us" class="dropdown-toggle">
                        About US
                    </a>
                </li>

                <!-- Search Block -->
                <li>
                    <i class="search fa fa-search search-btn"></i>
                    <div class="search-open">
                        <div class="input-group animated fadeInDown">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn-u" type="button">Go</button>
                            </span>
                        </div>
                    </div>
                </li>
                <!-- End Search Block -->
            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->

<form action="@Url.Content("~/mobile/search")" method="get">

    <div class="search-block parallaxBg">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <h1>Discover <span class="color-green">Things</span> Here</h1>

                <div class="input-group">
                    <input type="text" id="basics" name="abc" class="form-control" placeholder="Search Here ...">
                    <span class="input-group-btn">
                        <button class="btn-u btn-u-lg" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div><!--/container-->
</form>


<script>
    var options = {
        data: ["Samsung Galaxy J5 2016", "Samsung Galaxy S7 edge 32 GB", "Samsung Galaxy J3 8 GB", "Samsung Galaxy S6 Edge 32 Gb", "Samsung Galaxy A9", "Samsung Galaxy J7 2016", "Samsung Galaxy J5", "Samsung Galaxy Note 3", "Samsung Galaxy J7", "Samsung Galaxy J2", "Samsung Galaxy Note 4", "Samsung Galaxy S6 32 GB", "Samsung Galaxy On7", "Samsung Galaxy On5", "Samsung Galaxy S4", "Samsung Galaxy E7", "Samsung Galaxy Grand Prime 4G", "Samsung Galaxy Note 2", "Samsung Galaxy Note 5 32 GB", "Samsung Galaxy A5", "Apple iPhone 6s 16 GB", "Apple iPhone 6s Plus 16 GB", "Apple iPhone 5s 16GB", "Apple iPhone SE 16 GB", "Apple iPhone 6 Plus 16 GB", "Apple iPhone 6 16 GB", "Apple iPhone 5 16GB", "Apple iPhone 5s 32GB", "Apple iPhone 5s 64GB", "Apple iPhone 4S", "Apple iPhone 5c 16GB", "Apple iPhone 4", "Apple iPhone 3gs", "Apple iPhone 5c 8 GB", "Apple iPhone 6s 64 GB", "Apple iPhone 5 32GB", "Apple iPhone 6 64 GB", "Apple iPhone 5 64GB", "Apple iPhone 6s Plus 128 GB", "Apple iPhone 6s Plus 64 GB", "HTC One M8", "Htc One M7", "HTC Desire 820", "HTC Desire 626", "HTC Desire 816", "HTC Desire 620G Dual SIM", "HTC Desire 820G plus Dual SIM", "HTC Desire 820s", "HTC Desire 510", "HTC One E9 plus Dual SIM", "HTC One M9 Plus", "HTC Desire 8", "HTC Desire 526G Plus 16 GB", "HTC Desire 826 Dual SIM", "HTC Desire 826", "HTC Desire VC", "HTC Desire 728 Dual SIM", "HTC Desire 816G", "HTC One", "HTC One E9 plus", "Sony Xperia Z Ultra", "Sony Xperia C4 Dual", "Sony Xperia C5 Ultra Dual", "Sony Xperia M4 Aqua Dual", "Sony Xperia Z3 plus Dual", "Sony Xperia Z1", "Sony Xperia M", "Sony Xperia C5 Ultra", "Sony Xperia Z2", "Sony Xperia Z5 Premium Dual", "Sony Xperia Z3 Dual", "Sony Xperia M5 Dual", "Sony Xperia T2 Ultra dual", "Sony Xperia E", "Sony Xperia Z3 plus", "Sony Xperia Z", "Sony Xperia Z3", "Sony Xperia E4 Dual", "Sony Xperia M2 dual", "Sony Xperia C3 Dual", "Moto X Force 32 GB", "Moto X Style 16 GB", "Moto X Play 16 GB", "Moto G Turbo Edition", "Moto X Play 32 GB", "Moto G 3rd Gen 16 GB", "Moto E Gen 2", "Moto X Gen 2 16 GB", "Moto G 16 GB", "Moto X 16 GB", "Moto G 8 GB", "Moto E", "Motorola Quartz Ex122", "Motorola DROID Turbo", "Moto X Style 32 GB", "Moto X 32 GB", "Moto X Force 64 GB", "Moto X Gen 2 32 GB", "Motorola Razr Maxx", "Motorola  Defy", "Microsoft Lumia 540 Dual SIM", "Microsoft Lumia 535 Dual SIM", "Microsoft Lumia 640 XL LTE", "Microsoft Lumia 550", "Microsoft Lumia 640 Dual SIM", "Microsoft Lumia 435", "Microsoft Lumia 950 XL Dual SIM", "Microsoft Lumia 640", "Microsoft Lumia 650 Dual SIM", "Microsoft Lumia 640 XL Dual SIM", "Microsoft Lumia 435 Dual SIM", "Microsoft Lumia 535", "Microsoft Lumia 640 XL", "Microsoft Lumia 650", "Microsoft Lumia 950 XL", "Microsoft Lumia 640 XL LTE Dual SIM", "Microsoft Lumia 430 Dual SIM", "Microsoft Lumia 532", "Microsoft Lumia 950 Dual SIM", "Microsoft Lumia 950"],
        list: {
            match: {
                enabled: true
            }
        }
    };

    $("#basics").easyAutocomplete(options);



</script>


<div class="clearfix margin-bottom-20"><hr></div>


<div class="col-md-offset-2">
    <input type="text" id="textName" size="60" placeholder="link of compare raja" style="padding:5px; border-radius:10px;" /> <br /><br />
    <input type="text" id="textAddress" placeholder="Model Name" style="padding:5px; border-radius:10px;" /> <br /> <br />
    <button id="btnSave" class="btn-lg btn-group-lg btn-success" type="button">Scrap Data </button>
</div>

<div class="clearfix margin-bottom-20"><hr></div>

<script type="text/javascript">

    $(document).ready(MainFunction);
    function MainFunction() {

        $("#btnSave").click(function (e) {

            var data = {};
            data.link = $("#textName").val();
            data.company = $("#textAddress").val();

            var settings = {
                type: "POST",
                data: data,
                async: true,
                url: "/Admin/SaveSpecs",
                success: function (d) {
                    if (d.success)
                        alert(d.message + "with -> " + d.Mobile_id);
                }
            };
            jQuery.ajax(settings);
            return false;
        });//End of hyperlink Click
    }//End of Main Function

</script>
